html {
    box-sizing: border-box;
    height: 100%;
    }

*, *::before,  *::after {
    box-sizing: inherit
}
body {
    width: 100%; 
    margin: 0 auto;
    background-color: grey;  
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    position: relative;
}
#page_container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 5rem;
}

main{
    
    width: 60%; 
    min-height: 100%; 
    background-color: rgb(173, 172, 172);
    margin: auto;
    padding-bottom: 2.5rem;
    position:relative;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     
}
.devs {
    position: relative;
    font-weight: bold;
    height: 50%;
    margin: auto;
    
}
.devs ul {
    list-style-type: none;
}
.devs li { 
    padding-top: 10px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
    
    nav li {
    float: left;
    }
    
    nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    nav li a:hover {
    background-color: #111;
    }

    footer {
        width: 100%; 
        /* min-height: 20vh; */
        background-color: #333;
        color: white;
        margin-bottom: 0px;
        position:absolute;
        bottom: 0;
        height: 5rem;
        
        text-align: left; 
        padding-left: 10px;
    }
/* 
    @media screen and (max-height: 400px) {
        footer {
            
            height: 2.5rem;
        }
        nav {
            width: 100%;
            position: fixed; 
            top: 0;
            display:block;
            min-height: 2.5rem;


        }
        main{
         
         position: relative;
         padding-bottom: 0;
        }
        #page-container {
            color: red;
        }

    } */