
.other-message {
    background-color:rgb(180, 180, 180);
}
:root {
   
    --left-chat:rgb(180, 180, 180);
    --right-chat:rgb(103, 231, 114);;
    --chat-bg:#d3d3d3;
    --contacts-bg:#F2F5F8;
    font-family: 'Roboto Mono', monospace;
    --chat-bar:rgb(184, 184, 184);
    --hover-color:rgb(121, 121, 121);
}

#chat-page-wrapper {
    border: 1px solid red;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* wrapper for the content of the page - stuff that isn't the nav*/
#chat-content-wrapper { 
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 550px;
    background-color:var(--contacts-bg);
    width: 100%;
    height:100%;

}

#chat-banner{
    /* min-height: 50px; */
    width: 100%;
    border-bottom: 1px solid rgb(189, 189, 189);
    /* box-shadow: -2px 2px 11px -1px  white; */
    background-color: var(--chat-bg);
    -webkit-box-shadow: -2px 2px 11px -1px rgba(0,0,0,0.11); 
    box-shadow: -2px 2px 11px -1px rgba(0,0,0,0.11);
    display:flex;
    justify-content: center;
    align-items: center;  
}

.selected {
    background-color:blueviolet;
}
/* wrapper for contacts side section*/
#contacts-wrapper{
    border: 1px solid black;
    height: 90%;
    overflow-y: scroll;
    min-width: 250px;
    width:30%;
    background-color: var(--contacts-bg);
}
/* wrapper for the chat section*/
#chat-wrapper { 
    border: 1px solid black;
    flex-grow: 2;
    height: 90%;
    position: relative;
    background-color: rgb(103, 122, 103);
}
/*styling for the box that holds the chat messages*/
#messages-container{
    background-color: var(--chat-bg);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.message-wrapper{
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0;
    padding-bottom: 1.3rem;


}
.message-wrapper:hover{
    padding-bottom:0.3rem;
}
.message-wrapper:hover .message-details-wrapper {
    display: block;
    
}
.align-left{
    align-self: flex-start;
    /* justify-self: left; */
}
.align-right{
    align-self: flex-end;
    /* justify-self: right; */
}
.message-name {
    width:60%;
    font-size: 1.2rem;
}
.message-text {
    width: 60%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
    max-width: 400px;
    min-width:150px;
    -webkit-box-shadow: -2px 2px 11px -1px rgba(75, 75, 75, 0.19); 
    box-shadow: -2px 2px 11px -1px rgba(73, 73, 73, 0.19);

}

.message-details-wrapper {
    width: 60%;
    max-width: 400px;
    min-width:150px;
    display: none;

    height: 1rem;
    color: rgb(43, 42, 42); 
}

.message-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
}

.message-details-right{
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    padding: 0 15px;
    
}
.right-text {
    text-align: right;
   
}
.left-text {
    text-align: left;
    
}
.my-message {
    background-color:var(--right-chat);
}
.other-message {
    background-color:var(--left-chat);
}
/*style for the input box and stuff at the bottom of page*/
.visible {
    display: block;
}
.hidden{
    display: none;
}
#chat-box { 
    width: 100%;
    border-top: 1px solid rgb(255, 255, 255);
    position: absolute;
    height: 75px;
    bottom: 0;
    background-color: var(--chat-bar);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat-input {
    border-radius: 20px;
    border: 1px solid rgb(184, 184, 184);
    
} 
.chat-button {  
    margin: 0 10px;
    width: 75px;
    height: 50px;
    cursor: pointer;
}
.chat-button:hover {  
    background-color:rgb(121, 121, 121); /* add animation and stuff */
}
.chat-text-box{
    flex-grow:2;
    max-width: 75%;
    margin-left: 10px;
    height: 50px;
    outline: none;
    font-size: 1.5rem;  
}

.student-wrapper-button {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px; 
    width: 100%;
    text-decoration: none; 
    color: black;
}

.student-wrapper-button:hover {
    background-color:var(--hover-color);
    font-size:1.3rem;
}
.student-wrapper{
    border: 1px solid black;
    display: flex;
    align-items: center;
    min-height: 100px; 
    width: 100%;
    min-width: 250px;
    cursor: pointer;
}

.student-wrapper:hover {
    background-color:(--hover-color);
    font-size:1.3rem;
}

.student-name{
    border: 1px solid black;
    text-align: center;
    width: 100%;

}

#contact-banner{
    width: 100%; 
    height: 50px;
    border-bottom: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-banner-text {
    text-align: center;
    width: 100%;
    display: inline-block; 

}

#students-error {
    width: 100%; 
    text-align: center;
}
/*styling for the teacher classes page */

.class-item { 
    border:solid 1px black;
    width: 100%; 
    min-height: 100px;
    margin: 10px 0 ;

}
.class-link {
    display: inline-block; 
    width: 100%;
    border:solid 1px black;
    text-align: center;
    text-decoration: none;
    color: black;
    
}
#class-details-wrapper {

        border: 1px solid black;
        flex-grow: 2;
        min-width: 300;
        height: 90%;
        position: relative;
        background-color:var(--chat-bg);
        display: flex; 
        flex-direction: column; 
        align-items: center;
        justify-content: center;

    
}
#expanded-class-details {
    width: 80%;
    min-width: 300px;
    height: 90%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    
    border: black solid 1px;
}

#class-options-wrapper {
    width: 50%;
    min-width: 300px;
    min-height: 300px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}
.class-option {
    display: inline-block; 
    width: 80%; 
    min-width: 200px;
    background-color: gray;
    height: 50px;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color:black;
    border-radius: 10px;
}
.class-option:hover {
    border: black 3px solid;

}

#class-details,#class-title {
    margin: 20px;
}
#class-details {
    width: 90%;
    min-width: 200px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
}