#class-members-rows-wrapper {
    display: flex;
    flex-direction: column;
    border: solid #CCCCCC;
    width: 50%;
    background-color: white;
    min-width: 70%;
}

#class-members-columns-wrapper {
    display: flex;
    flex-direction: row;
    border: solid #CCCCCC;
    width: 100%;
    height: 500px;
}

#class-members-left-column {
    border: solid #CCCCCC;
    width: 40%;
    position: relative;
}

#class-members-middle-column {
    border: solid #CCCCCC;
    width: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#class-members-right-column {
    border: solid #CCCCCC;
    width: 40%;
    position: relative;
}

#left-select-list {
    height: 100%;
    width: 100%;
}

#right-select-list {
    height: 100%;
    width: 100%;
}

#selected-to-right-list {
    padding: 5px 20px 5px 20px;
}

#selected-to-left-list {
    padding: 5px 20px 5px 20px;
}

#update-members-list {
    padding: 3%;
}